@import "general.styles.css";
body > div.container {
	position: relative;
	overflow: hidden;
	width: 800px;
	height: 609px;
	background-image: url(../images/back.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
div.container1 {
	position: relative;
	overflow: hidden;
	width: 800px;
	height: 609px;
	background-image: url(../images/back0.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
div.blue_back {
	position: relative;
	overflow: hidden;
	width: 750px;
	height: 550px;
	background-color: #0099FF;
	opacity: 0.9;
	margin: 30px;
	border-radius: 30px;
	display: block;
}
.eye {
	position: absolute;
	top: 20px;
	right: 30px;
	width: 280px;
	height: 130px;
}
.head_0 {
	font-family: "OpenDyslexic3";
	color: white;
	line-height: 100px;
	font-size: 50px;
	position: absolute;
	top: 50px;
	left: 130px;
	width: 550px;
	text-align: center;
}
.pic_img1 {
	position: absolute;
	top: 300px;
	left: 270px;
	width: 250px;
	height: 177px;
	/* box-shadow: 2px 6px 31px black; */
}
.head_text {
	font-family: "OpenDyslexic3";
	text-align: center;
	color: white;
	width: 800px;
	line-height: 50px;
	font-size: 25px;
	position: absolute;
	top: 170px;
	left: 0px;
}